.App {
  text-align: center;
  background-color: #282c34;
}

.Fighter-Box {
  display: grid;
  grid: 150px / auto auto;
}

.Gate {
  width: 200px;
  height: 200px;
  background-color: white;
}

.Selected {
  background-color: blue;
}