.App {
  text-align: center;
  background-color: #282c34;
}

.Fighter-Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Gate {
  background-color: white;
  width: 100px;
}

.Gate-Upper-Left {
  border: 5px red;
}

.Gate-Upper-Right {
  border: 5px red;
}

.Gate-Middle-Left

.Gate-Middle-Right

.Gate-Lower-Left

.Gate-Lower-Right

.Selected {
  background-color: blue;
}