.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Fighter-Box {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 100px 100px;
}

.Gate {
  background-color: white;
  width: 100px;
  height: 100px;
}

.Selected {
  background-color: blue;
}